@import "./styles/init/reset.scss";
@import "./styles/init/base.scss";
* {
  list-style: none;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #333;

  -webkit-font-smoothing: antialiased; /* 폰트 부드럽게 */
}
/* 📱 Mobile Styles (기본)*/
.container {
  min-width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

header {
  width: 100%;
  height: 50px;
  display: grid;
  text-align: center;
  line-height: 50px;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--gray-color-line);

  .header_title {
    color: var(--gray-color-title);
    font-weight: 600;
  }
  .header_navBtn_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &i {
      font-size: 0.3rem;
    }
  }
}
.header_nav {
  overflow: scroll;
  white-space: nowrap;
  height: 50px;
  padding: 0 1rem;
  text-align: center;
}
.header_nav ul {
  display: flex;
}
.header_nav ul li {
  padding: 0 10px;
  margin-right: 1rem;
  text-align: center;
  flex-shrink: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

/* ========================
   💻 Tablet (min-width: 768px)
   ======================== */
@media (min-width: 768px) {
  .container {
    background-color: lemonchiffon;
    .header_navBtn_left i {
      display: none;
    }
  }
}

/* ========================
   🖥️ Desktop (min-width: 1024px)
   ======================== */
@media (min-width: 1024px) {
  .container {
    .header_navBtn_left i {
      display: none;
    }
  }
}
