/* // slider 1 맨위 광고배너 */

.banner_slider {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.banner_wrap {
  width: 300%;
  display: flex;
  transition: transform 0.5s ease;
}

.banner_wrap img {
  min-width: 250px;
  border-radius: 10px;
}
